div.codeblocks {
    max-width: 1920px;
}

div#mainspacekeeper > div.row {
    display:block;
    flex-wrap: nowrap;
}

div.playground table td.block, div.ilc_question_Standard table td.block{
    display:table-cell !important;
}

div.playground table td.fixed, div.ilc_question_Standard table td.fixed{
    display:table-cell !important;
    position:relative;
}

div#il_prop_cont_codeblock.form-group > div.col-sm-9 {
    width:100%
}

.cm-s-solarized div.CodeMirror-gutter.CodeMirror-linenumbers{
    width:29px !important;
    border-right: 1px solid #d8d2c0
}
div.codeblocks.editmode{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

div.editModeBlockContainer{
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1)
}