div.codeblocks {
    padding: 0px;
    margin: 0px !important;
}

div#mainspacekeeper > div.row {
    display: block;
    flex-wrap: nowrap;
}

div.playground table td.block,
div.ilc_question_Standard table td.block {
    display: table-cell !important;
}

div.playground table td.fixed,
div.ilc_question_Standard table td.fixed {
    display: table-cell !important;
    position: relative;
}

div#il_prop_cont_codeblock.form-group > div.col-sm-9 {
    width: 100%;
}
.cm-s-solarized div.CodeMirror-gutters {
    border-right: 1px solid #d8d2c0;
}
div.CodeMirror-gutter.CodeMirror-linenumbers {
    width: 31px !important;
}
div.codeblocks.editmode {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

div.editModeBlockContainer {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

div[printblocks] pre {
    tab-size: 3;
    line-break: after-white-space;
    font-size: 90%;
}

div[printblocks] pre.solution {
    color: rgb(22, 74, 189);
    border-width: 3px;
    border-color: rgb(22, 74, 189);
    background-color: white;
}

div[printblocks] pre.static {
    color: #383838;
    border-style: dashed;
}

table.fullwidth {
    table-layout: fixed;
}

div.ilc_question_Standard {
    background-image: none;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

div#il_center_cols {
    width: 100% !important;
}

#il_prop_cont_codeblock {
    max-width: 100vw;
}

main.il-layout-page-content {
    grid-template-columns: 100%;
}

main.il-layout-page-content > div {
    grid-template-columns: 100%;
}

#mainspacekeeper {
    width: 100%;
}
