@import './quasar.variables.styl'

span[is-code], pre[is-code]
    color: $blue-grey-2
    border-radius: 5px 
    padding: 0 4px 2px 4px
    margin: 0 1px 0 2px
    background-color: $blue-grey-9
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3)
    font-weight: bold
    border-style: none