@import './quasar.variables.styl'
@import '~quasar-styl'

breakPoints = 'xs' 'sm' 'md' 'lg' 'xl'
sizeClasses = breakPoints
push(sizeClasses, 'none')
positionClasses = 'l' 'r' 't' 'b' 'x' 'y' 'a'
typeClasses = 'p' 'm'

subPositions(v)
    return '-left' if v == 'l' 
    return '-right' if v == 'r' 
    return '-top' if v == 't' 
    return '-bottom' if v == 'b'
    return '-left' '-right' if v == 'x'
    return '-top' '-bottom' if v == 'y'
    return '-left' '-right' '-top' '-bottom' if v == 'a' 
    return ''

subType(v)
    return 'margin' if v == 'm'
    return 'padding'

sizeValues(s)
    return $space-xs if s=='xs'
    return $space-sm if s=='sm'
    return $space-md if s=='md'
    return $space-lg if s=='lg'
    return $space-xl if s=='xl'
    return $space-none

sizeValue(s, p)
    sz = sizeValues(s)
    return sz.x if p=='-left'
    return sz.x if p=='-right' 
    return sz.y

html
    font-size: 16px
.q-layout, .q-menu
    .row 
        margin-left: 0px
        margin-right: 0px
    .row::before 
        display: block
    for cols in 1..12
        {'.col-' + cols}    
            padding-left: 0px
            padding-right: 0px
        for size in breakPoints
            {'.col-' + size + '-' + cols}
                padding-left: 0px
                padding-right: 0px
    for posIn in positionClasses
        pos = subPositions(posIn)
        for typeIn in typeClasses
            type = subType(typeIn)
            for size in sizeClasses
                {'.q-' + typeIn+posIn + '-' + size}
                    for p in pos
                        {type+p}: sizeValue(size, p)

// @import '~quasar-addon-styl'
