@import './quasar.variables.styl'

.random-tag-placeholder, .template-tag-placeholder, .template-tag-placeholder-noclick
    padding-left:2px
    padding-right:3px
    padding-bottom:3px
    padding-top:0px
    border-radius: 4px   
.random-tag-placeholder
    background-color: rgba(255, 255, 255, 0.75)
    border:1px solid rgba(0,0,0,0.5)
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) 
span.random-tag-placeholder
    color:$blue-grey-9!important
span.random-tag-placeholder, span.template-tag-placeholder, span.template-tag-placeholder-noclick
    padding-top:1px
.template-tag-placeholder
    cursor: pointer
.template-tag-placeholder-noclick
    padding-left: 3px
    padding-bottom: 2px
.template-tag-placeholder, .template-tag-placeholder-noclick
    text-shadow:none!important
    background-color: $pink-8
    color:$blue-grey-11!important
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2) 
    