#codeblocks {
    display: none;
}

codeblocks > playground {
    display: none;
}
codeblocks > block[data-hidden] {
    display: none;
}

codeblocks > block,
codeblocks > text {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    color: silver;
}

.red-wave {
    background: url("red-wave.png") repeat-x;
    background-position-y: bottom;
}

.yellow-wave {
    background: url("yellow-wave.png") repeat-x;
    background-position-y: bottom;
}

.gutter-warning,
.gutter-error {
    font-size: 16px !important;
    padding-top: 0px !important;
    margin-top: -3px !important;
    padding-left: 1px !important;
}

.gutter-error {
    color: #b71c1c !important;
}
.gutter-warning {
    color: #f9a825 !important;
}

div.CodeMirror.cm-s-solarized {
    box-shadow: none;
}

pre div#id {
    margin: 0px;
}

.modal-dialog {
    width: 840px !important;
}
