@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/MaterialIcons.48.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/fonts/roboto-black.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
