<div id="{UUID}" class="blockParent">
    <div highlight="{LANGUAGE}">{QUESTIONTEXT}</div>
    <div>
        <textarea style="display:none" id="question{QUESTION_ID}result1" name="question{QUESTION_ID}result1">{RESULT1}</textarea>
        <br>
        <label for="question{QUESTION_ID}value1">
            <b>{LABEL_VALUE1}</b>
        </label>
        {BLOCK_HTML}
    </div>
</div>

<script type="text/javascript">
    if (window.mountInElement) { mountInElement(document.getElementById('{UUID}')); }
</script>