<p>{QUESTIONTEXT}</p>
<p>
    <textarea style="display:none" id="question{QUESTION_ID}result1" name="question{QUESTION_ID}result1" />{RESULT1}</textarea>
    <br>
    <label for="question{QUESTION_ID}value1">
        <b>{LABEL_VALUE1}</b>
    </label>
    {BLOCK_HTML}
    <br> {RUN_CODE_HTML}
</p>
<script type="text/javascript">
const maxCharacters = Math.max(32, Math.round({MAX_CHARACTERS_VAL}+0));
const maxMS = Math.max(500, Math.round({TIMEOUT_VAL}+0));
function displayResults(outputObject, canvasElement, questionID, blockID){
    if (!canvasElement || canvasElement.length==0) return;
    canvasElement = $(canvasElement)
    canvasElement.removeClass('hiddenBlock')    
    {CANVAS_SCRIPT}  
    return outputObject
}
</script>