<style type="text/css">
    /*
 *  Usage:
 *
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
 *
 */

    .sk-chasing-dots {
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 3px;
        width: 17px;
        height: 17px;
        position: relative;
        text-align: left;
        -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
        animation: sk-chasingDotsRotate 2s infinite linear;
    }

    .sk-chasing-dots .sk-child {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: gray;
        border-radius: 100%;
        -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
        animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    }

    .sk-chasing-dots .sk-dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    @-webkit-keyframes sk-chasingDotsRotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes sk-chasingDotsRotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes sk-chasingDotsBounce {
        0%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes sk-chasingDotsBounce {
        0%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .sk-three-bounce {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
        width: 40px;
        text-align: center;
        display: block;
    }

    .sk-three-bounce .sk-child {
        width: 8px;
        height: 8px;
        background-color: gray;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
        animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    }

    .sk-three-bounce .sk-bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .sk-three-bounce .sk-bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-three-bounce {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes sk-three-bounce {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
</style>

<input class="btn btn-default" type="button" value="{RUN_LABEL}" onclick="runInTest('{LANGUAGE}','question{QUESTION_ID}value1')"
    id='allow_run_button' disabled="{DISABLED_STATE}" style="display:inline">
<div id="stateBox" style="display:inline-block;margin-left:20px;">
    <div class="sk-chasing-dots" style="display:inline-block">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
    </div>
    <div id="stateMessageBox" style="color:gray;display:inline-block;padding-left:4px;padding-right:4px;">...</div>    
</div>
<pre id="question{QUESTION_ID}value1Output" style="display:none">...</pre>