<script type="text/javascript">
    if (typeof maxCharacters === "undefined"){
        var maxCharacters = Math.max(32, Math.round({MAX_CHARACTERS_VAL}+0));
        var maxMS = Math.max(500, Math.round({TIMEOUT_VAL}+0));
    }
</script>
<link href=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/css/app.css rel=preload as=style><link href=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/js/app.js rel=preload as=script><link href=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/js/chunk-vendors.js rel=preload as=script><link href=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/css/app.css rel=stylesheet><div id=app></div><script src=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/js/chunk-vendors.js></script><script src=/ilias/Customizing/global/plugins/Modules/TestQuestionPool/Questions/assCodeQuestion/frontend/dist/js/app.js></script>