{QUESTIONTEXT}
<p>
    <b>{LABEL_VALUE1}</b>
    <br>
    {BLOCK_HTML}
</p>
<b>Result</b>
<br>
{RUN_CODE_HTML}
<script type="text/javascript">
if (typeof displayResults === "undefined") {
    var calls = {}
    var displayResults = function(outputObject, canvasElement, questionID, blockID){
        if (!canvasElement || canvasElement.length==0) return;
        canvasElement = $(canvasElement)
        canvasElement.removeClass('hiddenBlock')
        if (outputObject===undefined) {            
            calls[questionID][blockID].init(canvasElement)
        } else {
            const result = calls[questionID][blockID].update(outputObject, canvasElement)
            if (result!==undefined) outputObject = result
        }
        return outputObject
    }
}

{CANVAS_SCRIPT}  
</script>